<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Lab 1</title>
	<script src="../../../raphael/raphael.js">
    </script>
    <script src="./GraphicsLibrary.js"></script>
    
    <script src="./Graphics/lab1-graphics.js"></script>
    <script src= "./AnimationsLibrary.js"></script>
    <script src= "../Model/lab1-interactive-algorithms.js"></script>
    <script src="../View/Animations/lab1-animations.js"></script>
    <script src="../Model/lab1-dataops.js"></script>
    <script src="../Controler/lab1-graphic-event-driver.js"></script>
    <script src="../Controler/lab1-event-driver.js"></script>

    
	<style type="text/css">#canvas_container {
                width: 1500px;
                height: 850px;
                margin-top:0;
                margin-right: auto;
                margin-bottom:0;
                margin-left:auto;
            }
	</style>
</head>
<body class="vsc-initialized">

<div id="canvas_container"></div>
</body>
</html>