<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Lab 2</title>
	<script src="../../../raphael/raphael.js">
    </script>
    <script src="./GraphicsLibrary.js"></script>
    
    <script src="./Graphics/lab2-graphics.js"></script>
    <script src="../Controler/lab2-event-driver.js"></script>

    
	<style type="text/css">#canvas_container {
                width: 1500px;
                height: 850px;
                margin-top:0;
                margin-right: auto;
                margin-bottom:0;
                margin-left:auto;
            }
	</style>
</head>
<body class="vsc-initialized">

<div id="canvas_container"></div>
</body>
</html>